{% extends 'one_app/base.html' %}

{% block content %}

<h1><a href="{% url 'one:create_item' %}">Добавить товар</a></h1>
<table class="table table-primary table-striped">
    <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Поставщик</th>
        <th>Дата добавления</th>
    </tr>

    {% for object in object_list %}
    <tr>
        <td>{{ object.title }}</td>
        <td>{{ object.price }}</td>
        <td>{{ object.vendor }}</td>
        <td>{{ object.create_at }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}